{% load static %}
<div class="d-none d-sm-block bg-dark">
    <div class="row py-5">
        <div class="col-md-2"></div>
        <div class="col-md-3">
            <h3 class="text-white pb-3" style="font-weight:bold">About Us</h3>
            <p class="pb-2 text-white">About Us</p>
            <p class="pb-2 text-white">FAQs</p>
            <p class="pb-2 text-white">Privacy</p>
            <p class="pb-2 text-white">Terms of use</p>
            <p class="pb-2 text-white">Admin Login</p>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-3">
            <h3 class="text-white pb-2">SUBSCRIBE NEWSLETTER</h3>
            <input type="text" class="form-inline form-control bg-gray" placeholder="Enter Email Address"/>
            <div class="d-grid">
                <button class="btn btn-danger mt-2 ">Subscribe</button>
            </div>
            <p class="pt-2 small text-muted text-center">*We send great deals and latest auto news to our subscribed users very week.</p>
        </div>
        <div class="col-md-3"></div>
    </div>
    <footer class="d-flex justify-content-between pt-5 pb-5 border-top" style="background-color: #000;border-top:none !important;">
        <div class=""></div>
        <div class="col-md-5 d-flex justify-content-start">
            <span class="footer-alt-text text-white">Copyright © 2022 | All Rights Reserved</span>
        </div>
        <div class="col-md-5 d-flex justify-content-end">
            <a href="" target="_blank"><img src="{% static 'images/facebook-new.png' %}" class="img-fluid px-1"></a>
            <a href="" target="_blank"><img src="{% static 'images/instagram-new.png' %}" class="img-fluid px-2"></a>
            <a href="" target="_blank"><img src="{% static 'images/linkedin.png' %}" class="img-fluid px-1"></a>
            <a href="" target="_blank"><img src="{% static 'images/twitter.png' %}" class="img-fluid px-2"></a>
        </div>
        <div class="py-1"></div>
    </footer>
</div>