{% extends "mainapp/base.html" %}
{% load static %}
{% block content %}
{% include "mainapp/nav.html" %}
<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="{% static 'images/back1.png' %}" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h1>FIND THE RIGHT<br>CAR FOR YOU</h1>
                <p>We have more than a thousand cars for you to choose.</p>
                <button class="btn btn-danger">Read More</button>
            </div>
        </div>
    </div>
</div>
<div style="background-color: #EEE;">
<h2 class="text-center pt-5 pb-3"><span style="font-weight:bold">Find the Best</span> Car For You</h2>
<div class="col-6 mx-auto pb-5">
    <p class="text-center">
        There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.
    </p>
</div>
<div class="container pb-5">
    <div class="card-group">
        {% for car in cars %}
        <div class="card mx-2">
            <a href="{% url 'mainapp:car-detail' car.id %}">
            <img src="{{car.image.url}}" class="card-img-top" alt="..."></a>
            <div class="d-flex justify-content-around" style="background-color:black">
                <span class="py-3 text-white"><i class="fas fa-car"></i> {{car.vehicle_brand}}</span>
                <span class="py-3 text-white"><i class="fas fa-calendar-alt"></i> {{car.model_year}}</span>
                <span class="py-3 text-white"><i class="fas fa-user"></i> {{car.seating_capacity}}</span>
            </div>
            <div class="card-body">
                <div class="d-flex justify-content-between pb-3">
                    <a href="{% url 'mainapp:car-detail' car.id %}"><h5 class="card-title">{{car.vehicle_title}}</h5></a>
                    <h5 class="card-title text-muted">Card title</h5>
                </div>
                <a href="{% url 'mainapp:car-detail' car.id %}"><p class="card-text">{{car.vehicle_overview}}</p></a>
                <p class="card-text"><small class="text-muted">Last updated {{car.registration_date}}</small></p>
            </div>
        </div>
        {% endfor %}
        
    </div>
</div>
</div>
<div class="container">
    <div class="row py-5">
        <div class="col-md-3">
            <h2 class="text-center">40+</h2>
            <p class="text-center">Years in business</p>
        </div>
        <div class="col-md-3">
            <h2 class="text-center">40+</h2>
            <p class="text-center">Years in business</p>
        </div>
        <div class="col-md-3">
            <h2 class="text-center">40+</h2>
            <p class="text-center">Years in business</p>
        </div>
        <div class="col-md-3">
            <h2 class="text-center">40+</h2>
            <p class="text-center">Years in business</p>
        </div>
    </div>
</div>
{% include "mainapp/footer.html" %}
{% endblock content %}