<div class="nav-align-center">
    <ul class="nav nav-pills nav-pills-success" role="tablist">
        <li class="active">
            <a href="#vehicle-overview" role="tab" data-toggle="tab" aria-expanded="true">
                Vehicle Overview
            </a>
        </li>
        <li class="">
            <a href="#accessories" role="tab" data-toggle="tab" aria-expanded="false">
                Accesories
            </a>
        </li>
    </ul>
    <div class="tab-content gallery">
        <div class="tab-pane active" id="vehicle-overview">
        </div>
        <div class="tab-pane" id="accessories">
        </div>
    </div>
</div>